* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

p {
    margin-bottom: 0;
}

.spinner {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

body {
    background-color: #f4f4f4; 
}

.dash-widget {
    display: flex;
    border-radius: 12px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dash-widget:hover {
    background-color: lightpink;
    cursor: pointer;
    transition: ease-in-out .25s;
}
.page-link{
    color: white;
    text-decoration: none;
}
.page-link:hover {
    color: black;
}

#dashboard-body {
    padding: 0 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dashboard-grid {
    grid-gap: 20px;
    width: 100%;
    max-width: 1000px;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "results results analytics"
        "coming1 profile profile"
        "coming2 . .";
    color: white;
}
#race-results-body {
    margin: 0 8%;
}
.table-wrapper {
    padding: 0px 20px;
}
.widget-inner {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.horse-icon {
    width: 85px;
    display: none;
}
.trophy-icon {
    width: 50px;
    display: none;
}
.charts-icon {
    display: none;
    width: 50px;
}
#race-results-widget,
#analytics-widget,
#horse-profile-widget,
#coming-soon-widget1,
#coming-soon-widget2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#race-results-widget {
    background-image: url('../lib/images/raceResultsBackground (2).jpg');
    grid-area: results;
}
#race-results-widget:hover {
    background-color: white;
    background-image: none;
}
#race-results-widget:hover img {
    display: block;
}

#analytics-widget {
    background-image: url('../lib/images/analyticsBackground.jpg');
    grid-area: analytics;
}
#analytics-widget:hover {
    background-color: white;
    background-image: none;
}
#analytics-widget:hover img {
    display: block
}
#horse-profile-widget {
    background-image: url('../lib/images/horseProfileBackground.jpg');
    grid-area: profile;
}
    #horse-profile-widget:hover {
        background-color: white;
        background-image: none;
    }
#horse-profile-widget:hover img {
    display: block
}
#coming-soon-widget1 {
    background-image: url('../lib/images/comingSoonBackground.jpg');
    color: black;
    opacity: 0.5;
    grid-area: coming1;
}
#coming-soon-widget2 {
    background-image: url('../lib/images/comingSoonBackground.jpg');
    color: black;
    opacity: 0.5;
    grid-area: coming2;
}

.text-input {
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    width: 100%;
    margin-right: 10px
}
.notes-div{
    display: flex;

}
.icon-button {
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0px;
    color: #929399;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: 0.1s ease-in-out;
}
.icon-button:hover {
    color: #47C086;
}
.material-symbols-outlined {
    font-size: 28px!important;
}





/*LOGIN PAGE*/
#login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login-div {
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    min-width: 400px;
}
#login-form button {
    background-color: #F90049;
    color: white;
}



/*ANALYTICS PAGE*/
#analytics-body {
    padding: 20px;
    display: flex;
    justify-content: center;
}
#insights-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#insights-title i {
    color: #4361ee;
}
#analytics-container {
    display: flex;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin-bottom: 30px;
}
.analytics-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    width: 250px;
    height: 250px;
    position: relative
}
.bxr {
    font-size: 55px;
}
.info-icon {
    font-size: 30px;
}
.jockey-bookmark {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 26px;
    color: #a6a6a6;
    cursor: pointer;
}
.jockey-bookmark:hover {
    color: #4361ee;
}
.dropdown-wrapper {
    display: flex;
    flex-direction: column;
}
.jockey-bookmark.selected {
    color: gold;
}


/*MY STABLE PAGE*/
#stable-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 8%;
    align-items: center;
}

#mystable-submit {
    background-color: #F90049;
}