body {
    background-color: #f4f4f4; 
}

.dash-widget {
    display: flex;
    border-radius: 12px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dash-widget:hover {
    background-color: lightpink;
    cursor: pointer;
    transition: ease-in-out .25s;
}

.dashboard-grid {
    grid-gap: 20px;
    width: 1200px;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}
