@{
    ViewData["Title"] = "Home Page";
}

<div class="dashboard-grid">
    <a class="page-link" asp-area="Home" asp-controller="Home" asp-action="RaceResults"><div class="dash-widget"><h2>Widget 1</h2></div></a>
    <div class="dash-widget"><h2>Widget 2</h2></div>
    <div class="dash-widget"><h2>Widget 3</h2></div>
    <div class="dash-widget"><h2>Widget 4</h2></div>
    <div class="dash-widget"><h2>Widget 5</h2></div>
</div>
