@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="race-results-body">
    <h1>Race Results</h1>
    <div class="table-wrapper">
        <table id="raceResultsTable" class="hover stripe display border">
            <thead>
                <tr>
                    <th>Race</th>
                    <th>
                        Racecourse
                    </th>
                    <th>Race Date</th>
                    <th>
                        Race Distance
                    </th>
                    <th>Jockey</th>
                    <th>Trainer</th>
                    <th>Horse</th>
                    <th>Finishing Position</th>
                    <th>Distance Beaten</th>
                    <th>Time Beaten</th>
                    <th width="20%">Notes</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>
